<div class="container-fluid">
    <h3>Добавление клиента</h3>
  <form
    method="post"
    name="form"
    (ngSubmit)="createClientForm.form.valid && onCreateClient()"
    #createClientForm="ngForm"
    novalidate
  >
    <div class="row align-items-center mb-3">
      <div class="col-md-1">
        <label class="col-form-label">Наименование:</label>
      </div>
      <div class="col-md-3">
        <input
          class="form-control"
          type="text"
          name="name"
          [(ngModel)]="createClientInput.name"
          placeholder="Введите наименование клиента"
          required
          #name="ngModel"
          minlength="3"
          maxlength="20"
          [ngClass]="{ 'is-invalid': (createClientForm.submitted && name.errors) || serverNameError }"
          (input)="serverNameError = null"
        />
        @if (name.errors && createClientForm.submitted) {
          <div class="invalid-feedback">
            @if (name.errors['required']) {
              Наименование клиента не заполнено
            }
            @if (name.errors['minlength']) {
              Наименование клиента слишком короткое
            }
            @if (name.errors['maxlength']) {
              Наименование клиента слишком длинное
            }
          </div>
        }

       @if (serverNameError) {
        <span class="invalid-feedback">{{ serverNameError }}</span>
      }
      </div>
    </div>

    <div class="row align-items-center mb-3">
      <div class="col-md-1">
        <label class="col-form-label">Адрес:</label>
      </div>
      <div class="col-md-3">
        <input
          class="form-control"
          type="text"
          name="address"
          [(ngModel)]="createClientInput.address"
          placeholder="Введите адрес клиента"
          required
          #address="ngModel"
          minlength="3"
          maxlength="20"
          [ngClass]="{ 'is-invalid': createClientForm.submitted && address.errors }"
        />
        @if (address.errors && createClientForm.submitted) {
          <div class="invalid-feedback">
            @if (address.errors['required']) {
              Адрес клиента не заполнен
            }
            @if (address.errors['minlength']) {
              Адрес клиента слишком короткий
            }
            @if (address.errors['maxlength']) {
              Адрес клиента слишком длинный
            }
          </div>
        }
      </div>
    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-success mt-2">Добавить</button>
    </div>
  </form>

  <a class="btn btn-primary" (click)="onGetClients()">Назад</a>
</div>
