.no-transition {
  transition: none !important;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.elem-bottom {
  margin-bottom: 5px;
}

.elem-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
