<div>
  <h3>Список документов поступлений</h3>

  <div class="elem-bottom">
    <a class="btn btn-success" (click)="onCreateResourceReceipt()"> Добавить</a>
  </div>

  <table class="table table-sm table-striped table-bordered border-dark">
    <thead>
      <tr>
        <th>#</th>
        <th>Номер</th>
        <th>Дата поступления</th>
        <th>Поставщик</th>
        <th>Ресурс</th>
        <th>Единица измерения</th>
        <th>Количество</th>
      </tr>
    </thead>
    <tbody>
      @for (document of documentReceipts$ | async; track document.documentReceiptId; let i = $index) {
        <tr [class.table-danger]="document.items.length === 0" (click)="onGetResourceReceiptByDocumentReceiptId(document.documentReceiptId)">
          <td>{{i + 1}}</td>
          <td>{{ document.documentReceiptNumberCode }}</td>
          <td>{{ document.documentReceiptDate | date: 'dd.MM.yyyy HH:mm' : 'UTC' }}</td>
          <td>{{ document.documentReceiptClientName }}</td>
          <td>
            @for (item of document.items; track item.resourceReceiptId) {
              <div class="p-2 border-bottom border-secondary">
                {{ item.resourceTitle }}
              </div>
            } @empty {
              <span class="badge bg-danger">
                {{ 'Не указано' }}
              </span>
            }
          </td>

          <td>
            @for (item of document.items; track item.resourceReceiptId) {
              <div class="p-2 border-bottom border-secondary">
                {{ item.measureUnitTitle }}
              </div>
            } @empty {
              <span class="badge bg-danger">
                {{ 'Не указано' }}
              </span>
            }
          </td>

          <td>
            @for (item of document.items; track item.resourceReceiptId) {
              <div class="p-2 border-bottom border-secondary">
                {{ item.resourceQuantity }}
              </div>
            } @empty {
              <span class="badge bg-danger">
                {{ 'Не указано' }}
              </span>
            }
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="6" class="text-center">Нет документов поступлений</td>
        </tr>
      }
    </tbody>
  </table>
</div>
